body {
      background-image: url('https://media.istockphoto.com/id/589415708/ru/%D1%84%D0%BE%D1%82%D0%BE/%D1%81%D0%B2%D0%B5%D0%B6%D0%B8%D0%B5-%D1%84%D1%80%D1%83%D0%BA%D1%82%D1%8B-%D0%B8-%D0%BE%D0%B2%D0%BE%D1%89%D0%B8.jpg?s=612x612&w=0&k=20&c=AqKy-fSiJwYynKlGD6uh4kMSq4pi6euD5A6tWsc4Kwk='); /* Новый фон */
      background-size: cover;
      background-position: center;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      color: #fff;
    }

    /* Обертка для калькулятора */
    .calculator {
      background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон для калькулятора */
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      width: 500px; /* Увеличено окно калькулятора */
      text-align: center;
    }

    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    label, input, button {
      font-size: 18px;
      margin: 10px 0;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
    }
    button {
          background-color: #4CAF50;
          color: white;
          border: none;
          cursor: pointer;
        }

        button:hover {
          background-color: #45a049;
        }

        .result {
          margin-top: 20px;
          font-size: 20px;
          font-weight: bold;
        }

        /* Стили для контейнера картинок */
        .product-images {
          display: grid; /* Используем grid для равномерного распределения картинок */
          grid-template-columns: repeat(3, 1fr); /* 3 колонки */
          gap: 15px;
          margin: 20px 0;
        }
    .product-image {
      width: 100%;
      height: 100px;
      object-fit: cover;
      border-radius: 10px;
      cursor: pointer;
      transition: transform 0.3s;
    }

    .product-image:hover {
      transform: scale(1.1);
    }

    .product-item {
      text-align: center;
    }

    .selected {
      border: 3px solid #4CAF50;
    }

    .product-name {
      margin-top: 10px;
      font-size: 16px;
      font-weight: bold;
    }

    .product-price {
      margin-top: 5px;
      font-size: 14px;
      color: #ff9800;
    }

    .button-container {
      display: flex;
      justify-content: space-between;
    }
